@charset "utf-8";
@import "variables";

$left-icon-width: 50px;
$preview-icon-size: 20px;
$preview-cards-margin: 64px;

body {
  background-color: $theme-light-shades;
  // background-image: url('/images/white_paperboard/white_paperboard.png');
  background-size: 256px 256px;
  color: $theme-dark-shades;
  font-weight: 400;

  font-family: $theme-font;
  font-size: 18px;
  position: relative;
  min-height: 100%;
}

html {
  height: 100%;
}

body, html {
  width: 100%;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
}

header.welcome-header {
  background-color: $theme-dark-shades;

  position: relative;
}

main {
  padding: 40px 15px 1rem 15px;
}

header.welcome-header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-size: cover;

  background-image: url('/images/header.jpg');
  background-color: $theme-dark-shades;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 1000px transparentize($theme-dark-shades, 0.25);

  height: 100vh;
}

header.welcome-header .title {
  color: $theme-light-shades;


  h1 {
    color: $theme-main-brand;
    margin-top: 0;
  }

  padding-bottom: 100px;

  flex-shrink: 1;
  flex-basis: 870px;
  margin: 0 30px;

  z-index: 3;
}

h1, h2, h3, h4 {
  font-family: $theme-font-accent;
}

a {
  color: $theme-dark-accent;
}

h2 .post-title {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  display: inline;

  &:hover {
    border-bottom: 5px solid transparentize($theme-light-accent, 0.7);
  }
}

.left-icon {
  float: left;
  height: 40px;
  width: $left-icon-width;
  padding-top: 4px;
  padding-left: 4px;
  //margin-left: -40px;

  path {
    fill: $theme-main-brand;
  }
}

.tagged-article-preview {
  margin: 5px 0 15px 0;
}

.falling-guy {
  background-image: url('/images/blobs/blob_small1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
  right: 50px;
  top: -30px;
  height: 30px;
  position: absolute;
  width: 30px;
  transition: all 0.3s;

  &[data-fallen="true"] {
    transform: translateY(50px) rotate(240deg);
    opacity: 0;
    z-index: -1
  }
}

.article-preview {
  .falling-guy {
    visibility: hidden;
  }

  &:nth-child(2) {
    .falling-guy {
      visibility: visible;
    }

    .extra-info .item:nth-child(2) {
      transform: rotate(-2deg);
    }
  }

  &:nth-child(4) {
    transform: rotate(-1deg);

    .falling-guy {
      visibility: visible;
      left: 30px;
      right: 0;
      filter: hue-rotate(180deg);
      transform-origin: bottom center;
      transform: scale(0.75) translateY(0);
      z-index: -1;
      &[data-fallen="true"] {
        transform: scale(0);
      }
    }

    .body {
      z-index: 1;
    }
  }

  &:nth-child(7) {
    .falling-guy {
      visibility: visible;
      right: 6px;
      filter: hue-rotate(250deg);
      transform-origin: bottom center;
      transform: scale(0.7) translateY(0);
      &[data-fallen="true"] {
        transform: scale(0);
      }
    }
  }

  &:nth-child(8) {
    .falling-guy {
      visibility: visible;
      left: -15px;
      bottom: auto;
      top: 10px;
      filter: hue-rotate(100deg);
      transform-origin: bottom center;
      transform: rotate(-90deg) scale(0.65) translateY(0);
      &[data-fallen="true"] {
        transform: rotate(-90deg) scale(0.15) translateX(-100px) translateY(0);
      }
    }
  }

  &:nth-child(2n) {
    .extra-info .item:first-child {
      transform: rotate(0deg);
    }
  }

  &:nth-child(3n) {
    .extra-info .item {
      transform: rotate(-2deg);
    }
    .extra-info .item:first-child {
      transform: rotate(1deg);
    }
  }

  &:nth-child(4n) {
    .extra-info .item {
      transform: rotate(-2deg);
    }
  }

  &:nth-child(5n) {
    .extra-info .item {
      transform: rotate(3deg);
    }
    .extra-info .item:first-child {
      transform: rotate(-2deg);
    }
  }

  &:nth-child(7n) {
    .extra-info .item:first-child {
      transform: rotate(2deg);
    }
  }
}


.article-preview {
  border-radius: 10px;
  box-shadow: 0px -17px 20px rgba(90, 0, 0, 0.03);
  color: inherit;
  display: block;
  background-color: #fff;
  font-size: 1.25rem;
  margin-bottom: $preview-cards-margin;
  //padding: 0.5rem 1rem 1.5rem 1rem;
  //border-bottom: 3px solid #eee;
  border-width: 0;
  text-decoration: none;
  position: relative;

  .main-image {
    border-radius: 10px 10px 0 0;
    height: 250px;
    width: 100%;
    overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
    }
  }

  h2 {
    padding: 0;
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.6;
  }

  section.body {
    padding: 1.5rem 2rem 2.5rem 2rem;
    font-size: 1rem;
  }

  section.body p,
  section.body ol {
    color: $theme-dark-accent;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .extra-info {
    opacity: 0.4;
    margin: 0;
    font-size: 1rem;
    position: absolute;
    right: 12px;
    bottom: 14px;

    .item {
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      display: inline-block;
      font-size: 13px;
      margin-left: 15px;
      padding: 5px 9px;
    }

    .item:first-child {
      transform: rotate(4deg);
    }
  }

  .icon {
    position: absolute;
    top: 0px;
    right: 0px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    float: left;
    margin-right: 6px;

    svg {
      height: $preview-icon-size;
      width: $preview-icon-size;
      transition: 0.3s all ease-in-out;
    }

    g > path {
      fill: $theme-light-shades;
    }
  }

  .tag-name {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }

    &:empty {
      display: none;
    }
  }

  .tag-icon {
    display: inline-block;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    line-height: 18px;
    text-align: center;
  }

  .tag-icon__inside {
    color: #fff;
    position: relative;
    //top: -2px;
  }

  transition: 0.15s all ease-out;

}

.articles-list {
  display: flex;
  flex-flow: row wrap;
  max-width: 900px;
  margin: 0 auto;
  margin-top: -65px;
}

.article-preview {
  margin: 0 5px 40px 5px;
  display: block;
  flex-shrink: 1;
  flex-grow: 1;
}

.article-preview[data-main-tag="javascript"] .color-background {
  background-color: #e1b400;
}

.article-preview[data-main-tag="ruby"] .color-background {
  background-color: #e74c3c;
}

.article-preview[data-main-tag="css"] .color-background {
  background-color: #e67e22;
}

.article-preview[data-main-tag="elixir"] .color-background {
  background-color: #9b59b6;
}

.article-preview[data-main-tag="unity"] .color-background {
  background-color: #333;
}

.article-preview[data-main-tag="photoshop"] .color-background,
.article-preview[data-main-tag="Photoshop"] .color-background {
  background-color: #009fff;
}

.article-preview[data-main-tag="go"] .color-background {
  background-color: #007fee;
}

.article-preview[data-main-tag="python"] .color-background {
  background-color: #005fbe;
}

.article-preview[data-main-tag="machine-learning"] .color-background {
  background-color: #009fee;
}

.article-preview[data-main-tag="middleman"] .color-background {
  background-color: #ffaa55;
}

.article-preview[data-main-tag="postgres"] .color-background {
  background-color: #33aa88;
}

.gray-background,
.color-background {
  background-color: $theme-dark-accent;
}

footer {
  background-color: $theme-dark-shades;
  min-height: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.index > .container .col-sm-4 {
  z-index: 5;
}

.separator-line_top {
  border-top: 1px solid $theme-dark-accent;
}

.separator_top-margin {
  margin-top: 1rem;
}

.transparent_light {
  opacity: 0.6;
}

.transparent_stronger {
  opacity: 0.3;
}

.read-more {
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  position: relative;
  opacity: 0.3;
  font-size: 1.2rem;
  line-height: 0.7;
  &:hover {
    opacity: 0.6;
    text-decoration: underline;
  }
}
