@charset "utf-8";
@import "normalize";
@import "variables";
@import "grid12";

$left-icon-width: 50px;
$header-bg-height: 70px;
$preview-icon-size: 20px;

body {
  background-color: $theme-light-shades;
  color: $theme-dark-shades;
  font-weight: 400;

  font-family: $theme-font;
  font-size: 18px;
}

body, html {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
}

header.welcome-header {
  background-color: $theme-dark-shades;

  position: relative;
}

main {
  padding: 5rem 0 1rem 0;
}

header.welcome-header {
  background-size: cover;

  background-image: url('/images/header.jpg');
  background-color: $theme-dark-shades;
  background-attachment: fixed;
  min-height: 100%;
  box-shadow: inset 0 0 0 1000px transparentize($theme-dark-shades, 0.25);
}

header.welcome-header .title {
  color: $theme-light-shades;


  h1 { color: $theme-main-brand; }

  position: absolute;
  top: 50%;
  left: 7%;

  z-index: 3;
}

h1, h2, h3, h4 {
  font-family: $theme-font-accent;
}

a {
  color: $theme-dark-accent;
}

h2 a.post-title {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid transparent;

  &:hover {
    border-bottom: 2px solid $theme-light-accent;
  }
}

.left-icon {
  float: left;
  height: 40px;
  width: $left-icon-width;
  padding-top: 4px;
  padding-left: 4px;
  //margin-left: -40px;

  path {
    fill: $theme-main-brand;
  }
}

.tagged-article-preview {
  margin: 5px 0 15px 0;
}

.article-preview {
  border-radius: 5px;
  border: 1px solid #cfcfcf;
  max-height: 450px;
  background-color: $theme-light-shades;
  box-shadow: 0 0 5px 2px transparentize(lighten($shadow-basic-color, 20%), 0.15), 0 6px 5px 0 transparentize(lighten($shadow-basic-color, 20%), 0.15);
  //margin-left: 50px;
  overflow: hidden;

  margin-bottom: 70px + $preview-icon-size;
  margin-top: -40px;
  position: relative;
  overflow: visible;
}

.article-preview > header {
  position: relative;
  display: block;
  //height: 160px;
  //padding: 1rem 1.5rem;
  padding: 1.5rem;
  padding-bottom: 0;
  //background-color: $theme-main-brand;
  width: 100%;
  //height: 150px;

  h2 {
    //display: table-cell;
    //vertical-align: bottom;
    position: relative;
    padding: 0;
    margin: 0;
  }

  .icon {
    position: relative;
    top: 2px;
    left: -1px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    float: left;
    margin-right: 6px;

    svg {
      height: $preview-icon-size;
      width: $preview-icon-size;
      transition: 0.3s all ease-in-out;
    }

    g > path {
      fill: $theme-light-shades;
    }
  }

  .background {
    border-radius: 3px;
    position: absolute;
    display: block;
    background-color: #3498db;
    top: 0 - $preview-icon-size - 27px;
    right: -10px;
    text-align: center;
    transition: 0.3s all ease-in-out;
    padding: 5px 10px;
    text-decoration: none;

    .tag-name {
      font-family: $theme-font;
      font-size: 1rem;
      border-bottom-width: 0;
      display: inline;
      color: $theme-light-shades;
      position: relative;
      top: -2px;
    }

    &:hover {
      text-decoration: none;
      border-width: 0;
      border-bottom: 0px solid transparent;
      .icon svg {
        transform: scale(1.1);
        filter: brightness(110%);
      }
    }
  }
}

.article-preview[data-main-tag="javascript"] .background {
  background-color: #e1b400;
}

.article-preview[data-main-tag="ruby"] .background {
  background-color: #e74c3c;
}

.article-preview[data-main-tag="css"] .background {
  background-color: #e67e22;
}

.article-preview[data-main-tag="elixir"] .background {
  background-color: #9b59b6;
}

.article-preview > section.body {
  text-align: justify;
  padding: 1.5rem;
  font-size: 0.9rem;
  line-height: 1.6;
  h2 {
    margin-top: 0;
    padding-top: 0;
  }
  padding-bottom: 4.5rem;
  padding-top: 0;
}

.read-more {
  // background: linear-gradient(transparentize($theme-light-shades, 1), transparentize($theme-light-shades, 0.25), $theme-light-shades, $theme-light-shades);
  display: block;
  width: 100%;
  position: absolute;
  padding: 1rem 1.5rem;
  text-align: center;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: transparentize($theme-light-accent, 0.95);

  &:hover {
    text-decoration: none;
  }
}

footer {
  background-color: $theme-dark-shades;
  min-height: 20px;
}

.index > .container {
  margin-top: -140px + $header-bg-height;
}

.index > .container .col-sm-4 {
  z-index: 5;
}
