@charset "utf-8";
@import "normalize";
@import "variables";
@import "grid12";

$left-icon-width: 50px;
$preview-icon-size: 20px;
$preview-cards-margin: 48px;

body {
  background-color: $theme-light-shades;
  color: $theme-dark-shades;
  font-weight: 400;

  font-family: $theme-font;
  font-size: 18px;
}

body, html {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
}

header.welcome-header {
  background-color: $theme-dark-shades;

  position: relative;
}

main {
  padding: 30px 15px 1rem 15px;
}

header.welcome-header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-size: cover;

  background-image: url('/images/header.jpg');
  background-color: $theme-dark-shades;
  background-attachment: fixed;
  min-height: 100%;
  box-shadow: inset 0 0 0 1000px transparentize($theme-dark-shades, 0.25);
}

header.welcome-header .title {
  color: $theme-light-shades;


  h1 {
    color: $theme-main-brand;
    margin-top: 0;
  }

  padding-left: 20px;
  padding-bottom: 100px;

  flex-basis: 900px;
  max-width: 900px;
  margin: 0 auto;

  z-index: 3;
}

h1, h2, h3, h4 {
  font-family: $theme-font-accent;
}

a {
  color: $theme-dark-accent;
}

h2 .post-title {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  display: inline;

  &:hover {
    border-bottom: 5px solid transparentize($theme-light-accent, 0.7);
  }
}

.left-icon {
  float: left;
  height: 40px;
  width: $left-icon-width;
  padding-top: 4px;
  padding-left: 4px;
  //margin-left: -40px;

  path {
    fill: $theme-main-brand;
  }
}

.tagged-article-preview {
  margin: 5px 0 15px 0;
}

.article-preview {
  color: inherit;
  display: block;
  background-color: #fff;
  font-size: 1rem;
  margin-bottom: $preview-cards-margin;
  padding: 2.25rem 2rem;
  border-bottom: 3px solid #eee;
  text-decoration: none;

  h2 {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.6;
  }

  section.body p,
  section.body ol {
    color: $theme-dark-accent;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .icon {
    position: absolute;
    top: 0px;
    right: 0px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    float: left;
    margin-right: 6px;

    svg {
      height: $preview-icon-size;
      width: $preview-icon-size;
      transition: 0.3s all ease-in-out;
    }

    g > path {
      fill: $theme-light-shades;
    }
  }

  .tag-name {
    display: inline-block;
    padding: 1px 5px 2px 5px;
    margin-right: 8px;
    border-radius: 3px;
  }

  transition: 0.15s all ease-out;

}

.articles-list {
  display: flex;
  flex-flow: row wrap;
  max-width: 900px;
  margin: 0 auto;
}

.article-preview {
  margin: 0 15px 30px 15px;
  min-width: 900px;
  display: block;
  flex: 1;
}

.article-preview[data-main-tag="javascript"] .color-background {
  //background-color: #e1b400;
}

.article-preview[data-main-tag="ruby"] .color-background {
  //background-color: #e74c3c;
}

.article-preview[data-main-tag="css"] .color-background {
  //background-color: #e67e22;
}

.article-preview[data-main-tag="elixir"] .color-background {
  //background-color: #9b59b6;
}

.color-background {
  background-color: $theme-light-shades;
}

footer {
  background-color: $theme-dark-shades;
  min-height: 20px;
}

.index > .container .col-sm-4 {
  z-index: 5;
}

.separator-line_top {
  border-top: 1px solid $theme-dark-accent;
}

.separator_top-margin {
  margin-top: 1rem;
}

.transparent_light {
  opacity: 0.6;
}

.transparent_stronger {
  opacity: 0.3;
}

.read-more {
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  position: relative;
  opacity: 0.3;
  font-size: 1.2rem;
  line-height: 0.7;
  &:hover {
    opacity: 0.6;
    text-decoration: underline;
  }
}
