// Variables and mixins

$theme-main-brand: #ea7658;
$theme-light-accent: #8ea4b9;
$theme-light-shades: #f1f0ec;
$theme-dark-accent: #657677; //#75596a;
// $theme-dark-shades: #22283b;
$theme-dark-shades: #33353a;

$theme-light-lighter: #fff;

$theme-font: 'Open Sans', sans-serif;
$theme-font-accent: 'Bitter', serif;

$shadow-basic-color: rgba(20, 20, 50, 0.2);

@function random_element($elements...) {
  @return nth($elements, random(length($elements)))
}

@function article_radial_gradient($color) {
  @return radial-gradient(lighten($color, 10%) 0%, $color 100%)
}
