$theme-main-brand: #37d6b2;
$theme-light-accent: #8ea4b9;
$theme-light-shades: #f6f3f4;
$theme-dark-accent: #657677; //#75596a;
$theme-dark-shades: #22283b;

$theme-font: 'Open Sans', sans-serif;
$theme-font-accent: 'Bitter', serif;

$shadow-basic-color: rgba(20, 20, 50, 0.2);
